<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <!--부트 스트랩 적용-->
    <link href="../css/bootstrap.min.css" rel="stylesheet"> <!-- ../은 상위 경로를 뜻한다. -->
    <!--css 적용-->
    <link rel="stylesheet" type="text/css" href="/css/main_style.css" th:href="@{/main_style.css}">
</head>

<body>
<div class="container_main">
    <header style="position: relative;"> <!--네비게이션바-->
        <div class="px-3 py-2 bg-dark text-white">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <img src="/image/main_img/logo2.PNG" class="logo" id="logo2">
                <img src="/image/main_img/home_icon.PNG" width="50px" height="45px" style="margin-left: 3%;">
                <a href="main.html" class="navbar-brand"><h4 class="theme">&nbsp;&nbsp;메인홈</h4></a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small" style="position: absolute">
                    <li style="position: relative; left: -7%;">
                        <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                             style="margin-left: 27px; margin-top: 10px;">
                        <a href="/boards/freeBoard" class="nav-link text-white" style="font-size: 16px;">
                            <span>자유게시판</span>
                        </a>
                    </li>
                    <li style="position: relative; left: -4%;">
                        <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                             style="margin-left: 45px; margin-top: 10px;">
                        <a href="store_recommend.html" class="nav-link text-white" style="font-size: 16px;">
                            <span>식당추천게시판</span>
                        </a>
                    </li>
                    <li style="position: relative; left: -1%;">
                        <img src="/image/main_img/muckstar_icon.PNG" width="40px" height="40px"
                             style="margin-left: 35px; margin-top: 10px;">
                        <a href="muckstar_main.html" class="nav-link text-white" style="font-size: 16px;">
                            <span>먹스타그램</span>
                        </a>
                    </li>
                    <li style="position: relative; left: 2%;">
                        <img src="/image/main_img/menu_recommend_icon.PNG" width="50px" height="40px"
                             style="margin-left: 27px; margin-top: 10px;">
                        <a href="menu_recommend.html" class="nav-link text-white" style="font-size: 16px;">
                            <span>메뉴추천</span>
                        </a>
                    </li>
                    <li style="position: relative; left: 5%;">
                        <img src="/image/main_img/chat_icon.PNG" width="50px" height="40px"
                             style="margin-left: 20px; margin-top: 10px;">
                        <a href="chat.html" class="nav-link text-white" style="font-size: 16px;">
                            <span>채팅방</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <section style="width: 28%; position: relative;"> <!--사이드바-->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 275px; height: 110vh">
            <hr>
            <span style="text-align: center; font-size: 20px;" id="userName"></span>
            <h4>&nbsp;&nbsp;&nbsp;FOOD WORLD에</h4>
            <h4>오신 것을 환영합니다!</h4>
            <hr>

            <form action="" th:action th:object="${loginForm}" method="post">
            <div class="container" style="position:absolute; top: 14%; left: 0%;" id="form">
                <br>
                <br>
                <div class="mb-3">
                    <input type="text" id="loginId" th:field="*{loginId}" class="form-control" placeholder="아이디" style="width: 250px;">
                </div>
                <div class="mb-3">
                    <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호" style="width: 250px;">
                </div>
                <br>
            </div>

            <br>
            <br>
            <br>

            <div class="col-auto" style="position:absolute; top: 30%; left: 2%;" id="col-auto">
                <button type="submit" class="btn btn-primary mb-3" style="width: 100px; margin-left: 7px;" id="login">
                    로그인
                </button>
                <button class="btn btn-primary mb-3" style="width: 100px; margin-left: 30px;"
                        id="register" th:onclick="|location.href='@{/members/register}'|"
                        type="button" >회원가입
                </button>
            </div>
            </form>

            <br>
            <br>

            <div class="nav nav-pills flex-column mb-auto" style="position:absolute; top: 38%; left: 0%; width: 100%;">
                <hr>
                <li class="nav-item">
                    <a href="/boards/freeBoard" class="nav-link text-white">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;자유게시판
                    </a>
                </li>
                <hr>
                <li>
                    <a href="store_recommend.html" class="nav-link text-white">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;식당추천게시판
                    </a>
                </li>
                <hr>
                <li>
                    <a href="muckstar_main.html" class="nav-link text-white">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;먹스타그램
                    </a>
                </li>
                <hr>
                <li>
                    <a href="menu_recommend.html" class="nav-link text-white">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메뉴추천
                    </a>
                </li>
                <hr>
                <li>
                    <a href="chat.html" class="nav-link text-white">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채팅방
                    </a>
                </li>
                <hr>
            </div>
        </div>
    </section>

    <aside style="float : left; width: 43%; position: relative; height: 110vh;">
        <br>
        <br>

        <div> <!--이미지 슬라이드-->
            <div class="img_slide"
                 style="position: absolute; top: 3%; width: 815px; border: solid 3px; border-color: rgb(9, 136, 15);">
                <input type="radio" name="slide" id="slide01" checked>
                <input type="radio" name="slide" id="slide02">
                <input type="radio" name="slide" id="slide03">
                <input type="radio" name="slide" id="slide04">
                <input type="radio" name="slide" id="slide05">

                <div class="slidewrap" style="margin-top: 15px;">
                    <ul class="slidelist">
                        <li>
                            <a href="free_main.html">
                                <label for="slide05" class="left"></label>
                                <img src="/image/main_img/img_slide1.PNG">
                                <label for="slide02" class="right"></label>
                            </a>
                        </li>

                        <li>
                            <a href="store_recommend.html">
                                <label for="slide01" class="left"></label>
                                <img src="/image/main_img/img_slide2.PNG">
                                <label for="slide03" class="right"></label>
                            </a>
                        </li>

                        <li>
                            <a href="muckstar_main.html">
                                <label for="slide02" class="left"></label>
                                <img src="/image/main_img/img_slide3.PNG">
                                <label for="slide04" class="right"></label>
                            </a>
                        </li>

                        <li>
                            <a href="menu_recommend.html">
                                <label for="slide03" class="left"></label>
                                <img src="/image/main_img/img_slide4.PNG">
                                <label for="slide05" class="right"></label>
                            </a>
                        </li>

                        <li>
                            <a href="chat.html">
                                <label for="slide04" class="left"></label>
                                <img src="/image/main_img/img_slide5.PNG">
                                <label for="slide01" class="right"></label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div> <!--배경 꾸미는 사진-->
            <img src="/image/main_img/main_background01.PNG"
                 style="position: absolute; left: -30%; top: 3%; width: 230px;">
        </div>
        <div>
            <img src="/image/main_img/main_background2.PNG"
                 style="position: absolute; left: -30%; top: 45%; width: 230px;">
        </div>
        <div>
            <img src="/image/main_img/main_background3.PNG"
                 style="position: absolute; left: -30%; top: 70%; width: 230px;">
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div style="position: relative; border: solid 3px; border-color: rgb(202, 130, 22); width: 815px; height: 300px;">
            <!--자유게시판 식당게시판-->
            <div>
                <table class="container2 mt-10"
                       style="white-space: nowrap; margin-top: 1%; position: absolute; margin-left: 50px;">
                    <h4 style="color: orangered; padding-top: 15px;">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp자유게시판&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp식당추천게시판</h4>
                </table>
            </div>

            <div style="position: absolute; top: 12%;">
                <a href="free_main.html"
                   style="text-decoration: none; margin-left: 300px; font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700;">더보기>></a>
                <a href="store_recommend.html"
                   style="text-decoration: none; margin-left: 300px; font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700;">더보기>></a>
            </div>

            <div>
                <table class="container3 mt-10"
                       style="white-space: nowrap; margin-top: 1%; position: absolute; margin-left: 420px;">
                </table>
            </div>
        </div>

        <br>

        <div style="position: relative; border: solid 3px; border-color: rgb(47, 9, 136); width: 815px; height: 275px;">
            <!--먹스타그램-->
            <span style="font-family: 'Nanum Gothic'; font-style: normal; font-weight: 550; white-space: nowrap; padding: 10px; font-size: 20px; color: rgb(47, 9, 136);">먹스타그램</span>
            <a href="muckstar_main.html" style="text-decoration: none;">
                <span style="margin-left: 600px; font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700;"> 더보기>></span></a>
            <table class="container1 mt-10" style="white-space: nowrap; margin-top: 1%; position: absolute;"></table>
        </div>
    </aside>

    <footer style="float : right; position: relative; width: 29%; height: 110vh;">
        <!--메뉴추천-->
        <div class="card">
            <h3 id="top_padding"
                style="margin-top: 30px; margin-left: 10px; font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700;">
                음식 메뉴 추천</h3>

            <br>

            <button id="random_btn" style="font-size: 20px;
                                                  width: 200px;
                                                  height: 50px;
                                                  border-radius: 1.5rem;
                                                  background-color: darkmagenta;
                                                  color: aliceblue; margin-left: 75px;">오늘의 메뉴는?!
            </button>

            <br>

            <img id="menu_img" src="/image/menu_img/00.PNG" width=250px height=250px style="margin-left: 45px; font-size: 50px; color: rgb(179, 41, 41);">

            <br/>

            <h3 class="color1" style="color: rgb(24, 114, 69);">메뉴</h3>
            <h4 id="menu_name"></h4>

            <br>

            <h3 class="color2" style="color: rgb(13, 126, 9);">식당</h3>
            <h4 id="franchise" style="word-break: keep-all;"></h4>

            <br>

        </div>

        <div class="container p-4 detail" style="position: absolute; top: 69%;"> <!--채팅방-->
            <div class="row">
                <div class="col-8 p-0">
                    <div class="chat-room"
                         style="background: url(./image/chat_img/chat_background1.PNG); background-size: cover; width: 350px;">
                        <ul class="list-group chat-content" id="chatContent"
                            style="height: 230px; overflow-y: scroll; padding: 10px;">
                        </ul>
                        <div class="input-group">
                            <input class="form-control chat-input" id="chat-input" placeholder="채팅방 클릭하고 이용해주세요.">
                            <button class="btn btn-secondary" id="send">전송</button>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <ul class="list-group chat-list">
                        <li class="list-group-item" style="background-color: rgb(121, 241, 195); width: 170px;">
                            <!--채팅방 목록-->
                            <span style="font-family: 'Nanum Gothic'; font-style: normal; font-weight: 555;"
                                  id="chat_title">채팅방</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div> <!-- /container -->
</body>
</html>