<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <!--부트 스트랩 적용-->
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <!--css 적용-->
  <link rel="stylesheet" type="text/css" href="../css/boards/board/board_detail_style.css">
</head>

<body>
<header>
  <div class="px-3 py-2 bg-dark text-white" style="position: absolute; width: 100vw; height: 12vh;">
    <img src="/image/main_img/logo2.PNG" class = "logo" style="position: absolute; z-index: 3; width: 170px; height: 90px; left: 2.5%; top: 10%;" id = "logo2">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="/image/main_img/write_icon.PNG" width="50px" height="50px">
        <a href="/boards/freeBoard" class="navbar-brand"><h4 class="thema">&nbsp;&nbsp;자유게시판</h4></a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <img src="/image/main_img/home_icon.PNG" width="45px" height="40px"
                 style="margin-left: 151px; margin-top: 10px;">
            <a href="/" class="nav-link text-white" style="font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메인
            </a>
          </li>

          <li>
            <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                 style="margin-left: 120px; margin-top: 10px;">
            <a href="store_recommend.html" class="nav-link text-white" style="font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;식당추천게시판
            </a>
          </li>

          <li>
            <img src="/image/main_img/muckstar_icon.PNG" width="40px" height="40px"
                 style="margin-left: 95px; margin-top: 10px;">
            <a href="muckstar_main.html" class="nav-link text-white" style="font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;먹스타그램
            </a>
          </li>

          <li>
            <img src="/image/main_img/menu_recommend_icon.PNG" width="50px" height="40px"
                 style="margin-left: 75px; margin-top: 10px;">
            <a href="menu_recommend.html" class="nav-link text-white" style="font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메뉴추천
            </a>
          </li>

          <li>
            <img src="/image/main_img/chat_icon.PNG" width="50px" height="40px"
                 style="margin-left: 65px; margin-top: 10px;">
            <a href="chat.html" class="nav-link text-white" style="font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채팅방&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
          </li>

          <li>
            <h5 id="userName" style="font-size : 13px; margin-top: 20px; color: white;"></h5>
            <br/>
            <form th:action="@{/members/logout}" method="post">
            <button type="submit" class="btn btn-primary" id="logout"
                    style="width: 90px; height: 35px; position :absolute; top: 56%;"
                    th:onclick="@{/members/logout}">로그아웃
            </button>
            </form>

            <form th:action="@{/members/login}" method="get">
              <button type="submit" class="btn btn-primary"
                      style="width: 80px; height: 35px; display: none; position :absolute; top: 56%;" id="login"
                      th:onclick="@{/members/login}">로그인
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<br>

<section style="position: relative; width:100vw; height: 80vh;">
  <div class="container">
      <div class="card" style="position: absolute; left: 25%; top: 20%;">
          <div class="row">
            <div class="col-md-10" style="float: right">
              <button class="btn btn-danger" id="edit"
                      th:onclick="|location.href='@{/boards/freeBoard/{boardId}/edit(boardId=${board.id})}'|"
                      type="button">수정
              </button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger" id="delete"
                      th:onclick="|location.href='@{/boards/freeBoard/{boardId}/delete(boardId=${board.id})}'|"
                      type="button">삭제
              </button>
            </div>
          </div>

        <h3 class="title" th:text="${board.title}" style="margin-left: 5%;"></h3>
        <div class="row" style="position: relative; width: 50vw; margin-left: 4%">
          <div class="col-md-4" th:text="${board.writer}" style="float: left;"></div>
          <div class="col-md-8">
            <div th:text="'조회: '+ ${board.count}" style="float: right; margin-right: 6%;"></div>
            <th:block th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}" style="float: right; margin-right: 8%;"/>
          </div>
        </div>
        <hr>
        <br>
        <!--    <div class="detail-pic" style="width : 700px; height : 400px;"></div>-->
        <br>
        <br>
        <h4 class="content" th:text="${board.content}"></h4>
        <br>
        <br>
        <hr>
        <br>

        <div class="row" style="position: relative; left: 40%; top: 0%; display: inline-block;">
          <div style="position: absolute; bottom: 10%;">
            <button class="btn btnEvent" id="like_btn" style="width: 3vw; height: 3vh;">
              <img src="/image/muckstargram_img/recommend_icon.PNG" style="width: 3vw; height: 5vh;">
            </button>
          </div>
          <div style="position: absolute; left:10%; bottom: 0%;">
            <h4 class="like" style="font-weight: 400;" th:text="${board.likeCount}"></h4>
          </div>
        </div>

        <br>

        <span style="white-space: nowrap;">
          <span style="font-weight: 400; font-size: 20px;">댓글</span>
          <span class="comment" style="font-weight: 400; font-size: 20px;"></span>
        </span>
        <hr>

        <div class="input-group">
          <textarea id="chat-input" rows="3" cols="115" placeholder="댓글을 자유롭게 작성해보세요!"></textarea>
          <button class="btn btn-secondary" id="reply_send">전송</button>
        </div>
      </div>

    <ul class="chat-content">
      <!--채팅메시지-->
    </ul>
      <hr>
  </div>
</section>
</body>
</html>