<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--부트 스트랩 적용-->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <!--css 적용-->
    <link rel="stylesheet" type="text/css" href="../css/boards/board/board_main_style.css">
</head>

<!--메시지 알림-->
<!--<script th:inline="javascript">-->

<!--    var message = [[${message}]];-->
<!--    alert(message);-->

<!--    location.replace([[${redirectUrl}]]);-->

<!--</script>-->

<body>
<header style="position: relative;">
    <img src="/image/main_img/logo2.PNG" class = "logo" style="position: absolute; z-index: 3; width: 170px; height: 90px; left: 2.5%; top: 10%;" id = "logo2">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <img src = "/image/main_img/write_icon.PNG" width = "50px" height="50px" >
                <a href="/boards/freeBoard" class="navbar-brand"><h4 class = "thema">&nbsp;&nbsp;자유게시판</h4></a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <img src = "/image/main_img/home_icon.PNG" width = "45px" height="40px" style="margin-left: 151px; margin-top: 10px;">
                        <a href="/" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메인
                        </a>
                    </li>
                    <li>
                        <img src = "/image/main_img/write_icon.PNG" width = "50px" height="40px" style="margin-left: 120px; margin-top: 10px;">
                        <a href="store_recommend.html" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;식당추천게시판
                        </a>
                    </li>
                    <li>
                        <img src = "/image/main_img/muckstar_icon.PNG" width = "40px" height="40px" style="margin-left: 95px; margin-top: 10px;">
                        <a href="muckstar_main.html" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;먹스타그램
                        </a>
                    </li>
                    <li>
                        <img src = "/image/main_img/menu_recommend_icon.PNG" width = "50px" height="40px" style="margin-left: 75px; margin-top: 10px;">
                        <a href="menu_recommend.html" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메뉴추천
                        </a>
                    </li>
                    <li>
                        <img src = "/image/main_img/chat_icon.PNG" width = "50px" height="40px" style="margin-left: 65px; margin-top: 10px;">
                        <a href="chat.html" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채팅방&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </li>
                    <li>
                        <h5 id = "userName" style="font-size : 13px; margin-top: 20px;"></h5>
                        <br/>
                        <form th:action="@{/members/logout}" method="post">
                            <button type="submit" class="btn btn-primary" id="logout"
                                    style="width: 90px; height: 35px; position :absolute; top: 56%;"
                                    th:onclick="@{/members/logout}">로그아웃
                            </button>
                        </form>

                        <form th:action="@{/members/login}" method="get">
                            <button type="submit" class="btn btn-primary"
                                    style="width: 80px; height: 35px; display: none; position :absolute; top: 56%;" id="login"
                                    th:onclick="@{/members/login}">로그인
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class = "main" style="width: 100%; height: 80vh;">
    <div class = "container1" style="position: absolute; width: 50%; top: 20%; margin-left: 25%;">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>날짜</th>
                    <th>조회수</th>
                    <th>좋아요</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.id}"></td>
                    <td>
                        <a th:href="@{|/boards/freeBoard/${board.id}|}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.writer}">글쓴이</td>
                    <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${board.count}">조회수</td>
                    <td th:text="${board.likeCount}">좋아요</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form th:action="@{/boards/freeBoard}" th:object="${boardDto}" method="get">
        <!--th:block은 따로 태그를 붙일 것이 없을 때 사용-->
        <div style="position: absolute; top: 70%; left: 40%;">
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}"
                   th:href="@{/boards/freeBoard(page = ${page - 1})}" th:text="${page}"></a>
                <a th:if="${page != nowPage} and ${not #strings.isEmpty(boardDto.titleSearchKeyword)} and ${#strings.isEmpty(boardDto.writerSearchKeyword)}"
                   th:href="@{/boards/freeBoard(page = ${page - 1}, titleSearchKeyword = ${boardDto.titleSearchKeyword})}"
                   th:text="${page}"></a>
                <a th:if="${page != nowPage} and ${not #strings.isEmpty(boardDto.writerSearchKeyword)} and ${#strings.isEmpty(boardDto.titleSearchKeyword)}"
                   th:href="@{/boards/freeBoard(page = ${page - 1}, writerSearchKeyword = ${boardDto.writerSearchKeyword})}"
                   th:text="${page}"></a>

                <strong th:if="${page == nowPage} and ${#strings.isEmpty(boardDto.titleSearchKeyword)} and ${#strings.isEmpty(boardDto.writerSearchKeyword)}"
                        th:text="${page}" style="color: red;"></strong>
                <strong th:if="${page != nowPage} and ${not #strings.isEmpty(boardDto.titleSearchKeyword)} and ${#strings.isEmpty(boardDto.writerSearchKeyword)}"
                        th:text="${page}" style="color: red;"></strong>
                <strong th:if="${page != nowPage} and ${not #strings.isEmpty(boardDto.writerSearchKeyword)} and ${#strings.isEmpty(boardDto.titleSearchKeyword)}"
                        th:text="${page}" style="color: red;"></strong>
            </th:block>
        </div>

        <div class="row" style="position: relative; left: 45%; margin-top: 31%;">
            <div class="col" style="position: absolute; width: 7vw;">
                <input type="text" th:if="${#strings.isEmpty(boardDto.writerSearchKeyword)}" th:field="*{writerSearchKeyword}" class="form-control" placeholder="글쓴이"/>
            </div>
            <div class="col" style="position: absolute; width: 15vw; left: 6%;">
                <input type="text" th:field="*{titleSearchKeyword}" class="form-control" placeholder="제목"/>
            </div>
            <div class="col" style="position: absolute; left: 20%;">
                <button type="submit" class="btn btn-secondary">검색</button>
            </div>

            <div class="col">
                <button class="btn btn-danger" id="write" style="position: absolute; left: 25%;"
                        th:onclick="|location.href='@{/boards/freeBoard/upload}'|"
                        type="button">글 작성
                </button>
            </div>
        </div>
    </form>

    <div style="position: absolute; top: 25%;">
        <p style=" margin-left: 15%;"><img src="/image/food/bok.jpg" width="50%" height= "100%"></p>
    </div>

    <div style="position: absolute; top: 85%; left: 10%;">
        <p style="margin-left: 410px;"><a href="menu_recommend.html"><img src="/image/food/circ.png" width="100%" height= "100%"></a></p>
    </div>
</div>

</body>
</html>