<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet"> <!-- ../은 상위 경로를 뜻한다. -->
    <style>
       .container {
          max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <header style="position: relative;"> <!--네비게이션바-->
        <img src="/image/main_img/logo2.PNG" class = "logo" style="position: absolute; z-index: 3; width: 200px; left: 2%; top: 10%; display: none;" id = "logo2">
        <div class="px-3 py-2 bg-dark text-white"  style="width: 1900px;">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <img src = "/image/main_img/home_icon.PNG" width = "50px" height="45px" >
                    <a href="main.html" class="navbar-brand"><h4 class = "thema">&nbsp;&nbsp;메인홈</h4></a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <img src = "/image/main_img/write_icon.PNG" width = "50px" height="40px" style="margin-left: 168px; margin-top: 10px;">
                            <a href="free_main.html" class="nav-link text-white" style="font-size: 16px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;자유게시판
                            </a>
                        </li>
                        <li>
                            <img src = "/image/main_img/write_icon.PNG" width = "50px" height="40px" style="margin-left: 130px; margin-top: 10px;">
                            <a href="store_recommend.html" class="nav-link text-white" style="font-size: 16px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;식당추천게시판
                            </a>
                        </li>
                        <li>
                            <img src = "/image/main_img/muckstar_icon.PNG" width = "40px" height="40px" style="margin-left: 120px; margin-top: 10px;">
                            <a href="muckstar_main.html" class="nav-link text-white" style="font-size: 16px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;먹스타그램
                            </a>
                        </li>
                        <li>
                            <img src = "/image/main_img/menu_recommend_icon.PNG" width = "50px" height="40px" style="margin-left: 115px; margin-top: 10px;">
                            <a href="menu_recommend.html" class="nav-link text-white" style="font-size: 16px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메뉴추천
                            </a>
                        </li>
                        <li>
                            <img src = "/image/main_img/chat_icon.PNG" width = "50px" height="40px" style="margin-left: 95px; margin-top: 10px;">
                            <a href="chat.html" class="nav-link text-white" style="font-size: 16px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채팅방
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div> <!-- /container -->
</body>
</html>