#chatContent {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }

  .list-group-item :hover {
    background-color: aqua;
  }

  #chatContent .event-message {
      width: 100%;
      text-align: center;
      clear: both;
  }

  #chatContent .event-message p {
      color: #777;
      font-size: 14px;
      word-wrap: break-word;
  }

  #chatContent ul li {
      line-height: 1.5rem;
      padding: 10px 20px;
      margin: 0;
      border-bottom: 1px solid #f4f4f4;
  }

  #chatContent ul li p {
      margin: 0;
  }